# Prevent data from being shared from TRSTMH folder
TRSTMH/data/
TRSTMH/output/
TRSTMH/figs/*.pdf
TRSTMH/figs/paper/archive

# Prevent data from being shared from Frontiers folder
Frontiers/data/*.xlsx
Frontiers/data/Frontiers_data.csv
Frontiers/data/WHO map boundaries
Frontiers/output/archive
Frontiers/figs/archive
Frontiers/figs/*.afdesign
